body {
    width: 980px;
    margin: auto;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #666;
}
ul.nav {
    padding: 0px;
}
ul.nav li {
    display: inline;
    margin: 0px 10px;
    font-weight: bold;
}
p.reference {
    font-weight: bold;
}
p.error {
    font-weight: bold;
    color: red;
}
h1 {
    font-size: 24px;
}
hr {
    margin: 10px 0;
    border: 1px solid #eee;
}
a {
    text-decoration: none;
    color: #4078c0;
}
a:hover {
    text-decoration: underline;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
    background: #f5f5f5;
}
th {
    font-weight: bold;
}
th.last-column {
    width: 80px;
}
th, td {
    border: 1px solid #fff;
    padding: 6px 6px;
}
td button, td input {
    width: 100%;
}
pre {
    padding: 6px;
    font-size: 12px;
    color: #000;
    background: #f5f5f5;
}
textarea {
    margin: 10px 0;
    width: 100%;
    height: 600px;
    padding: 6px;
    border-width: 1px;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    background: #f5f5f5;
    box-sizing: border-box;
    resize: vertical;
}
@media screen and (max-width: 1000px) {
    body {
        width: auto;
        margin: 0 10px;
    }
}
